Master Figma Automation(HMJ)/00_source/9x-blueprint_003_export-figma-asset.json
{
    "name": "Airtable <> Figma - Download Assets",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1725025,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 209,
                    "y": 153
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "Airtable - Download Figma Image"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "recordId",
                        "type": "text"
                    },
                    {
                        "name": "figmaNodeId",
                        "type": "text"
                    },
                    {
                        "name": "figmaFileKey",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "figma:MakeanAPICall",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2682337
            },
            "mapper": {
                "qs": [
                    {
                        "key": "ids",
                        "value": "{{1.figmaNodeId}}"
                    },
                    {
                        "key": "format",
                        "value": "png"
                    },
                    {
                        "key": "scale",
                        "value": "1"
                    }
                ],
                "url": "images/{{1.figmaFileKey}}/",
                "method": "GET",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/json"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150,
                    "name": "Export Figma Frame as Image"
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose",
                            "items": [
                                null,
                                null,
                                null
                            ]
                        },
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "figma"
                            },
                            "label": "Figma - Alex (alex@go9x.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:figma",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "GET",
                                "POST",
                                "PUT",
                                "PATCH",
                                "DELETE"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "http:ActionGetFile",
            "version": 3,
            "parameters": {
                "handleErrors": false
            },
            "mapper": {
                "url": "{{get(2.body.images; 1.figmaNodeId)}}",
                "method": "get",
                "serializeUrl": false,
                "shareCookies": false
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 150,
                    "name": "Download Image"
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "hidden",
                        "label": "Method"
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 10,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 7,
                            "module": "google-drive:uploadAFile",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 6871
                            },
                            "filter": {
                                "name": "Create new image",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.googleDriveFileId}}",
                                            "o": "notexist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "data": "{{6.data}}",
                                "title": "{{1.figmaName}}",
                                "select": "map",
                                "convert": false,
                                "filename": "{{6.fileName}}",
                                "folderId": "1pvKi1mN632WeAaO6d1nVQh8DCTu_Mjys"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 0,
                                    "name": "Upload Image to Google Drive"
                                },
                                "restore": {
                                    "expect": {
                                        "select": {
                                            "label": "Enter manually"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            },
                                            "label": "accounts@9x.agency (accounts@9x.agency)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google-restricted",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "type": "hidden"
                                    },
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Enter a Folder ID",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "map",
                                                "value"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "New File Name"
                                    },
                                    {
                                        "name": "filename",
                                        "type": "text",
                                        "label": "File Name",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Data",
                                        "required": true
                                    },
                                    {
                                        "name": "convert",
                                        "type": "boolean",
                                        "label": "Convert a File",
                                        "required": true
                                    },
                                    {
                                        "name": "folderId",
                                        "type": "text",
                                        "label": "Folder ID",
                                        "required": true
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 4,
                            "module": "airtable:ActionUpdateRecords",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 2048236
                            },
                            "mapper": {
                                "base": "appFNrdcsKEQndpUZ",
                                "typecast": false,
                                "useColumnId": false,
                                "table": "tblOb7ZZceyVGexvx",
                                "id": "{{1.recordId}}",
                                "record": {
                                    "fldopkahhNorTw9yC": "Complete",
                                    "fldQs7cNoWjzlfLFV": [
                                        {
                                            "url": "{{get(2.body.images; 1.figmaNodeId)}}",
                                            "filename": "{{1.figmaNodeId}}"
                                        }
                                    ],
                                    "flddMVKjpsYeWHCqS": "{{7.id}}"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 0
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "9x Full Access (Legacy/Business)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable2"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "base": {
                                            "label": "Figma Assets"
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        },
                                        "table": {
                                            "label": "NodeId"
                                        },
                                        "record": {
                                            "nested": {
                                                "fldopkahhNorTw9yC": {
                                                    "mode": "chose",
                                                    "label": "Complete"
                                                },
                                                "fldQs7cNoWjzlfLFV": {
                                                    "mode": "chose",
                                                    "items": [
                                                        null
                                                    ]
                                                }
                                            }
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Record ID",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "type": "collection",
                                        "label": "Record",
                                        "spec": [
                                            {
                                                "name": "fld2v8bdmX5Ruus00",
                                                "type": "text",
                                                "label": "NodeId"
                                            },
                                            {
                                                "name": "fldHMVvdohscpU4Rq",
                                                "type": "text",
                                                "label": "ParentNodeId"
                                            },
                                            {
                                                "name": "fld5Xkbp5qDSUafV0",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "fldgleuTXzpmLOSJ8",
                                                "type": "text",
                                                "label": "FileKey"
                                            },
                                            {
                                                "name": "fldopkahhNorTw9yC",
                                                "type": "select",
                                                "label": "Upload Image",
                                                "mode": "edit"
                                            },
                                            {
                                                "name": "fldQs7cNoWjzlfLFV",
                                                "type": "array",
                                                "label": "Image",
                                                "spec": [
                                                    {
                                                        "name": "url",
                                                        "label": "File URL",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "filename",
                                                        "label": "File name",
                                                        "type": "filename"
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "flddMVKjpsYeWHCqS",
                                                "type": "text",
                                                "label": "Google Drive File ID"
                                            }
                                        ]
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "NodeId",
                                        "label": "NodeId",
                                        "type": "text"
                                    },
                                    {
                                        "name": "ParentNodeId",
                                        "label": "ParentNodeId",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Name",
                                        "label": "Name",
                                        "type": "text"
                                    },
                                    {
                                        "name": "FileKey",
                                        "label": "FileKey",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Upload Image",
                                        "label": "Upload Image",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Image",
                                        "label": "Image",
                                        "type": "array",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "filename",
                                                "type": "filename",
                                                "label": "File name"
                                            },
                                            {
                                                "name": "size",
                                                "type": "uinteger",
                                                "label": "Size"
                                            },
                                            {
                                                "name": "type",
                                                "label": "MIME type",
                                                "type": "text"
                                            },
                                            {
                                                "name": "thumbnails",
                                                "label": "Thumbnails",
                                                "type": "collection",
                                                "spec": [
                                                    {
                                                        "name": "small",
                                                        "label": "Small",
                                                        "type": "collection",
                                                        "spec": [
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL"
                                                            },
                                                            {
                                                                "name": "width",
                                                                "type": "uinteger",
                                                                "label": "Width"
                                                            },
                                                            {
                                                                "name": "height",
                                                                "type": "uinteger",
                                                                "label": "Height"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "name": "large",
                                                        "label": "Large",
                                                        "type": "collection",
                                                        "spec": [
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL"
                                                            },
                                                            {
                                                                "name": "width",
                                                                "type": "uinteger",
                                                                "label": "Width"
                                                            },
                                                            {
                                                                "name": "height",
                                                                "type": "uinteger",
                                                                "label": "Height"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "name": "full",
                                                        "label": "Full",
                                                        "type": "collection",
                                                        "spec": [
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL"
                                                            },
                                                            {
                                                                "name": "width",
                                                                "type": "uinteger",
                                                                "label": "Width"
                                                            },
                                                            {
                                                                "name": "height",
                                                                "type": "uinteger",
                                                                "label": "Height"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    {
                                        "name": "Google Drive File ID",
                                        "label": "Google Drive File ID",
                                        "type": "text"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 11,
                            "module": "google-drive:updateAFile",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 6871
                            },
                            "filter": {
                                "name": "Update existing image",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.googleDriveFileId}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "data": "{{6.data}}",
                                "file": "{{1.googleDriveFileId}}",
                                "title": "{{1.figmaName}}",
                                "select": "map",
                                "filename": "{{6.fileName}}",
                                "changeContent": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 300,
                                    "name": "Update Google Drive Image"
                                },
                                "restore": {
                                    "expect": {
                                        "select": {
                                            "label": "Enter manually"
                                        },
                                        "keepRevisionForever": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            },
                                            "label": "accounts@9x.agency (accounts@9x.agency)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google-restricted",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "type": "hidden"
                                    },
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Enter a File ID",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "map",
                                                "value"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "New Updated File Name"
                                    },
                                    {
                                        "name": "description",
                                        "type": "text",
                                        "label": "File Description"
                                    },
                                    {
                                        "name": "changeContent",
                                        "type": "boolean",
                                        "label": "Change File Content\n(To change the file content, the new file must have`same mimeType`as the original file.)",
                                        "required": true
                                    },
                                    {
                                        "name": "keepRevisionForever",
                                        "type": "boolean",
                                        "label": "Keep Revision Forever"
                                    },
                                    {
                                        "name": "file",
                                        "type": "text",
                                        "label": "File ID",
                                        "required": true
                                    },
                                    {
                                        "name": "filename",
                                        "type": "filename",
                                        "label": "File Name",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Data",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 12,
                            "module": "airtable:ActionUpdateRecords",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 2048236
                            },
                            "mapper": {
                                "base": "appFNrdcsKEQndpUZ",
                                "typecast": false,
                                "useColumnId": false,
                                "table": "tblOb7ZZceyVGexvx",
                                "id": "{{1.recordId}}",
                                "record": {
                                    "fldopkahhNorTw9yC": "Complete",
                                    "fldQs7cNoWjzlfLFV": [
                                        {
                                            "url": "{{get(2.body.images; 1.figmaNodeId)}}",
                                            "filename": "{{1.figmaNodeId}}"
                                        }
                                    ]
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 300
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "9x Full Access (Legacy/Business)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable2"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "base": {
                                            "label": "Figma Assets"
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        },
                                        "table": {
                                            "label": "Images"
                                        },
                                        "record": {
                                            "nested": {
                                                "fldopkahhNorTw9yC": {
                                                    "mode": "chose",
                                                    "label": "Complete"
                                                },
                                                "fldQs7cNoWjzlfLFV": {
                                                    "mode": "chose",
                                                    "items": [
                                                        null
                                                    ]
                                                }
                                            }
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Record ID",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "type": "collection",
                                        "label": "Record",
                                        "spec": [
                                            {
                                                "name": "fld2v8bdmX5Ruus00",
                                                "type": "text",
                                                "label": "NodeId"
                                            },
                                            {
                                                "name": "fldHMVvdohscpU4Rq",
                                                "type": "text",
                                                "label": "ParentNodeId"
                                            },
                                            {
                                                "name": "fld5Xkbp5qDSUafV0",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "fldgleuTXzpmLOSJ8",
                                                "type": "text",
                                                "label": "FileKey"
                                            },
                                            {
                                                "name": "fldopkahhNorTw9yC",
                                                "type": "select",
                                                "label": "Upload Image",
                                                "mode": "edit"
                                            },
                                            {
                                                "name": "fldQs7cNoWjzlfLFV",
                                                "type": "array",
                                                "label": "Image",
                                                "spec": [
                                                    {
                                                        "name": "url",
                                                        "label": "File URL",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "filename",
                                                        "label": "File name",
                                                        "type": "filename"
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "flddMVKjpsYeWHCqS",
                                                "type": "text",
                                                "label": "Google Drive File ID"
                                            }
                                        ]
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "NodeId",
                                        "label": "NodeId",
                                        "type": "text"
                                    },
                                    {
                                        "name": "ParentNodeId",
                                        "label": "ParentNodeId",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Name",
                                        "label": "Name",
                                        "type": "text"
                                    },
                                    {
                                        "name": "FileKey",
                                        "label": "FileKey",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Upload Image",
                                        "label": "Upload Image",
                                        "type": "text"
                                    },
                                    {
                                        "name": "Image",
                                        "label": "Image",
                                        "type": "array",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "filename",
                                                "type": "filename",
                                                "label": "File name"
                                            },
                                            {
                                                "name": "size",
                                                "type": "uinteger",
                                                "label": "Size"
                                            },
                                            {
                                                "name": "type",
                                                "label": "MIME type",
                                                "type": "text"
                                            },
                                            {
                                                "name": "thumbnails",
                                                "label": "Thumbnails",
                                                "type": "collection",
                                                "spec": [
                                                    {
                                                        "name": "small",
                                                        "label": "Small",
                                                        "type": "collection",
                                                        "spec": [
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL"
                                                            },
                                                            {
                                                                "name": "width",
                                                                "type": "uinteger",
                                                                "label": "Width"
                                                            },
                                                            {
                                                                "name": "height",
                                                                "type": "uinteger",
                                                                "label": "Height"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "name": "large",
                                                        "label": "Large",
                                                        "type": "collection",
                                                        "spec": [
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL"
                                                            },
                                                            {
                                                                "name": "width",
                                                                "type": "uinteger",
                                                                "label": "Width"
                                                            },
                                                            {
                                                                "name": "height",
                                                                "type": "uinteger",
                                                                "label": "Height"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "name": "full",
                                                        "label": "Full",
                                                        "type": "collection",
                                                        "spec": [
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL"
                                                            },
                                                            {
                                                                "name": "width",
                                                                "type": "uinteger",
                                                                "label": "Width"
                                                            },
                                                            {
                                                                "name": "height",
                                                                "type": "uinteger",
                                                                "label": "Height"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    {
                                        "name": "Google Drive File ID",
                                        "label": "Google Drive File ID",
                                        "type": "text"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com"
    }
}